@import "bourbon";
@import "neat";
@import "reset";
@import "show";
@import "cards";
@import "modal";
@import "tables";
@import "navbar";

$mobile: new-breakpoint(max-width 640px);
$tablet: new-breakpoint(max-width 965px);

$font: Lato, Arial, sans-serif;

html { font-family: $font; font-size:100%; }

body {
  -webkit-font-smoothing: antialiased;
}

a { color:inherit;}


.sidebar {
    @include span-columns(4);
    @include media($mobile) {
      height: 0px;

    }

    @include media($tablet) {
      float:right;
    width:20%;
    margin-right: 5%;
      
    }
    float:right;
    width:20%;
    margin-right: 3%;
    div.basket {
      background:image-url('bag.svg') #DFF0F1 no-repeat 18px 18px;
      background-size:14px;
      color:#216D74;
      font-size:0.8em;
      line-height:1.6;
      border-bottom-left-radius:8px;
      border-bottom-right-radius:8px;
      margin-bottom:25px;
      padding:15px;
      padding-left:50px;
      @include media($mobile) {
      height: 0px;
      display: none;
    }
      p.buttons {
        margin-top:15px;
        a {
          display:inline-block;
          padding:2px 7px;
          background:#226E75;
          color:#fff;
          text-decoration:none;
          border-radius:4px;
          margin-right:4px; 
          &.checkout { background:#333;}
        }
      }
    }
    ul.reasons {
      background:#F1F1F1;
      padding:15px;
      border-radius:8px;
      font-size:0.9em;
      
      li {
        padding-left:35px;
        margin-bottom:25px;
        background-repeat:no-repeat;
        background-size:20px;
        background-position:3px 0;
        h4 { margin-bottom:3px; color:#333;}
        p { font-size:0.85em; color:#777; line-height:1.6;}
        &:last-child { margin-bottom:0;}
        &.support { background-image:url('support.svg')}
        &.quality { background-image:image-url('quality.svg')}
        &.delivery { background-image:image-url('delivery.svg')}
      }
    }
    
    .checkout {
      background:#efefef;
      padding:15px 25px;
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
      h2 { font-size:1.4em; color:#216D74;margin-top:25px;}
      dl {
        font-size:0.8em;
        margin:30px 0;
        line-height:1.5;
        dt { font-weight:bold; margin:10px 0;}
        dd { margin-bottom:30px;  }
      }
    }
}

.no-sidebar{
  
    
}


.img img {
  width: 100%;
}




.wrapper{
  @include display(flex);
  @include flex-wrap(wrap);
  @include outer-container;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  @include media($mobile) {
    padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  }
  h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }

}

div.customer {
        margin-top: 20px;
        font-size:0.8em;
        overflow:hidden;
        dd {
            margin:10px 0;
            textarea { font-size:1.3em; font-family:$font; padding:5px;font-size:1.2em; width:96%; border:1px solid #ccc; background:#f8f8f8; border-radius:4px;}
            input[type=text_area]:focus { border-color:#777; background:#fff;}
            input[type=checkbox] { float:left; margin-right:8px;margin-top:2px;}
            &.notes textarea {
              width: 100%;
              height: 100px;
            }
            input.postcode { width:30%;}
            select {
              -webkit-appearance: none;
              background:image-url('down-arrow-black.svg') #f8f8f8 no-repeat 97% 12px;
              width:100%;
              font-size:1.2em;
              background-size:11px;
              border:0;
              padding:5px;
              font-family:$font;
              margin-right:6px;
              border:1px solid #ccc;
              color:#333;
              &:focus { border:1px solid #777; background-color:#fff;}
            }
          }
        fieldset {
          width:50%;
          float:left;
          legend { font-size:1.2em; font-weight:bold;}
          dl.delivery { display:none;}
          dt { color:#888; margin-top:0px;}
          dt label.req:after { content:'*'; color:red; margin-left:5px;}
          dd {
            margin:10px 0;
            input[type=text] { font-size:1.3em; font-family:$font; padding:5px;font-size:1.2em; width:96%; border:1px solid #ccc; background:#f8f8f8; border-radius:4px;}
            input[type=text]:focus { border-color:#777; background:#fff;}
            input[type=checkbox] { float:left; margin-right:8px;margin-top:2px;}
            &.name input { width:45%;}
            &.name input:first-child { margin-right:7px;}
            &.notes input {
              width: 100%;
              height: 300px;
            }
            input.postcode { width:30%;}
            select {
              -webkit-appearance: none;
              background:image-url('down-arrow-black.svg') #f8f8f8 no-repeat 97% 12px;
              width:100%;
              font-size:1.2em;
              background-size:11px;
              border:0;
              padding:5px;
              font-family:$font;
              margin-right:6px;
              border:1px solid #ccc;
              color:#333;
              &:focus { border:1px solid #777; background-color:#fff;}
            }
          }         
        }
        fieldset:last-child {
          width:45%;
          float:left;
          margin-left:5%;
        }
      }
      
      fieldset.payment {
        border:1px solid #ccc;
        font-size:0.9em;
        h3 { font-size:0.9em; color:#333; background:#FFFEED; padding:15px; border-bottom:1px solid #ecebd3; margin-bottom:0;}
        p.error { background:image-url('error.svg') #fff5f5 no-repeat 15px 15px; background-size:16px; border-bottom:1px solid #EFCECE; padding:15px 40px;color:#dd2828; margin:0;}
        dl {
          margin:30px 0;
          dt { width:30%; text-align:right; float:left; padding-top:8px; font-weight:bold;}
          dd {
            margin-left:35%;
            margin-bottom:25px;
            input { width:300px; font-family:$font; padding:5px;font-size:1.3em; border:1px solid #ccc; background:#f8f8f8; border-radius:4px;}
            input:focus { border-color:#777; background:#fff;}
            &.cvc input { width:70px;}
            &.number input { background-repeat:no-repeat; background-position: 95% 10px; background-size:30px;}
            span { color:#999; font-size:0.9em; margin-left:15px;}
            select {
              -webkit-appearance: none;
              background:image-url('down-arrow-black.svg') #efefef no-repeat 39px 15px;
              width:60px;
              font-size:1.3em;
              background-size:11px;
              border:0;
              padding:6px 10px;
              font-family:$font;
              margin-right:6px;
              border:1px solid #ccc;
              color:#333;
              &:focus { border:1px solid #777; background-color:#fff;}
              &.year { width:85px; background-position:60px 15px;}
            }
          }
        }
      }

.pay fieldset{
        border:1px solid #ccc;
        font-size:0.9em;
        h3 { font-size:0.9em; color:#333; background:#FFFEED; padding:15px; border-bottom:1px solid #ecebd3; margin-bottom:0;}
        p.error { background:image-url('error.svg') #fff5f5 no-repeat 15px 15px; background-size:16px; border-bottom:1px solid #EFCECE; padding:15px 40px;color:#dd2828; margin:0;}
        dl {
          margin:30px 0;
          dt { width:30%; text-align:right; float:left; padding-top:8px; font-weight:bold;}
          dd {
            margin-left:35%;
            margin-bottom:25px;
            input { width:300px; font-family:$font; padding:5px;font-size:1.3em; border:1px solid #ccc; background:#f8f8f8; border-radius:4px;}
            input:focus { border-color:#777; background:#fff;}
            &.cvc input { width:70px;}
            &.number input { background-repeat:no-repeat; background-position: 95% 10px; background-size:30px;}
            span { color:#999; font-size:0.9em; margin-left:15px;}
            select {
              -webkit-appearance: none;
              background:image-url('down-arrow-black.svg') #efefef no-repeat 39px 15px;
              width:60px;
              font-size:1.3em;
              background-size:11px;
              border:0;
              padding:6px 10px;
              font-family:$font;
              margin-right:6px;
              border:1px solid #ccc;
              color:#333;
              &:focus { border:1px solid #777; background-color:#fff;}
              &.year { width:85px; background-position:60px 15px;}
            }
          }
        }
      



}


