<% @products.each do |category, products| %>
  <div class="cards">
    <% products.each do |product| %>
      
        <div class="card">
          <div class="card-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
          </div>
          <div class="card-header">
           
            <div class="card-name"><%= product.name %></div> 
             <div class="card-price"><%= number_to_currency product.price %></div>
          </div>
          <div class="card-copy">
            <p><%= product.short_description[0...60] %></p>
          </div>
          <div>
            <%= link_to 'Ver', product_path(product.permalink) %>
          </div>
        </div>
      
    <% end %>
    </div>
<% end %>





