<ul class="accordion-tabs-minimal">
  
<% @products.each do |category, products| %>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link"><%= category.name %></a>
    <div class="tab-content">

      <% products.each do |product| %>


      <div class="hover-tile-outer" style="">


       




      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">






      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
      <p><%= product.short_description %></p>
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
    
    </div>
  </div>
  </div>


    <% end %>
      
    </div>
  </li>
  


  

    

<% end %>


</ul>





